 <!-- Art -->
 <li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container art">
         <span class="logo-icon">
            <svg class="icon icon-art"><use xlink:href="#icon-art"></use></svg>
         </span>
         <span class="name">Art</span>
      </div>
   </a>
</li>
<!-- Music -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container music ">
         <span class="logo-icon">
            <svg class="icon icon-music"><use xlink:href="#icon-music"></use></svg>
         </span>
         <span class="name">Music</span>
      </div>
   </a>
</li>
<!-- Photo -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container photo">
         <span class="logo-icon">
            <svg class="icon icon-photo"><use xlink:href="#icon-photo"></use></svg>
         </span>
         <span class="name">Photo</span>
      </div>
   </a>
</li>
<!-- Movie -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container video">
         <span class="logo-icon">
            <svg class="icon icon-video"><use xlink:href="#icon-video"></use></svg>
         </span>
         <span class="name">Movie</span>
      </div>
   </a>
</li>
<!-- Busines -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container busines">
         <span class="logo-icon">
            <svg class="icon icon-busines"><use xlink:href="#icon-busines"></use></svg>
         </span>
         <span class="name">Busines</span>
      </div>
   </a>
</li>
<!-- Airfly -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container airfly">
         <span class="logo-icon">
            <svg class="icon icon-airfly"><use xlink:href="#icon-airfly"></use></svg>
         </span>
         <span class="name">Airfly</span>
      </div>
   </a>
</li>
   <!-- Trash -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container trash">
         <span class="logo-icon">
            <svg class="icon icon-trash"><use xlink:href="#icon-trash"></use></svg>
         </span>
         <span class="name">Trash</span>
      </div>
   </a>
</li>
<!-- Add -->
<li class="list-item ">
   <a href="#" class="list-link ">
      <div class="container plus">
         <span class="logo-icon">
            <svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>
         </span>
         <span class="name">Add</span>
      </div>
   </a>
</li>
