
<header>
      <!-- Top Header Line -->
      <div class="header-content">
         <!-- HEADER(site) Title -->
         <div class="header__site-title">
            <a href="index.html" class="site-title__link" >
               <div class="link__logo">
                  <svg class="icon icon-logo">
                     <use xlink:href="#icon-logo"></use>
                  </svg>
               </div>
               <div class="link__name">Extra<strong>ordinary</strong></div>
            </a>
         </div>

         <!-- HEADER Functional elements -->
         <div class="header__functional-elements">
            <ul class="header__functional-list">
               <li class="list-item functional-list__item">
                  <span class="list-item__name">Share</span>

                  <ul class="list-item__sublist " style="display: none;">
                     <li class="list-item ">
                        <a href="#" class="list-item__link">
                           <span class="link__logo icon-facebook">
                              <svg class="icon icon-facebook">
                                 <use xlink:href="#icon-facebook"></use>
                              </svg>
                           </span>
                           <span class="link__name">Facebook</span>
                        </a>
                     </li>

                     <li class="list-item">
                        <a href="#" class="list-item__link">
                           <span class="link__logo icon-twitter">
                              <svg class="icon icon-twitter">
                                 <use xlink:href="#icon-twitter"></use>
                              </svg>
                           </span>
                           <span class="link__name">Twitter</span>
                        </a>
                     </li>

                     <li class="list-item">
                        <a href="#" class="list-item__link">
                           <span class="link__logo icon-google-plus">
                              <svg class="icon icon-google-plus">
                                 <use xlink:href="#icon-google-plus"></use>
                              </svg>
                           </span>
                           <span class="link__name">Google +</span>
                        </a>
                     </li>

                     <li class="list-item">
                        <a href="#" class="list-item__link">
                           <span class="link__logo icon-pinterest">
                              <svg class="icon icon-pinterst">
                                 <use xlink:href="#icon-pinterst"></use>
                              </svg>
                           </span>
                           <span class="link__name">Pinterest</span>
                        </a>
                     </li>
                  </ul>
               </li>

               <li class="list-item functional-list__item"> 
                  <span class="list-item__name icon-search icon">
                     <svg class="icon icon-search"><use xlink:href="#icon-search"></use></svg>
                  </span>
               </li>

               <li class="list-item functional-list__item"> 
                  <span class="list-item__name icon-user icon">
                     <svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
                  </span>
               </li>
               
               <li class="list-item functional-list__item lg-hidden" id="sideMenuShowBtn"> 
                  <span class="list-item__name icon-hamburger icon">
                     <svg class="icon icon-hamburger"><use xlink:href="#icon-hamburger"></use></svg>
                  </span>
                  <ul class="list-item__sublist " style="display: none;">
                        //= navListItems/mainList.html
                        
                        //= navListItems/optionsItem.html
                  </ul>
               </li>
            </ul>
         </div>
      </div>

      <!-- Left side NAV bar -->
      <nav class="header__side-nav">
         <div class="side-nav__list-top">
            <!-- Main NAV elements -->
            <ul class="list nav-list">
               //= navListItems/mainList.html
            </ul>
         </div>

         <!-- Bottom NAV elements -->
         <div class="side-nav__list-bottom">
            <ul class="list nav-list">
               //= navListItems/optionsItem.html
            </ul>
         </div>

      </nav>
   </header>
