<!-- News List One Item Tamplate -->
<li id="newsListItemTamplate" class="list-item card news-item">
      <a href="#" class="list-item__link news-item__link" data-link="" >  
         <div class="card__img-top">
            <img src="" class="card-img news-item__img" alt="" />
            <div class="img-top__show-on-hover" >
               <div class="conteiner">
                  <div class="arrow">
                     <svg class="icon icon-arrow"><use xlink:href="#icon-arrow"></use></svg>
                  </div>
                  <div class="text">Read more</div>
               </div>
            </div>
         </div>

         <div class="card__body">
            <div class="card__info">
               <div class="date">
                  <svg class="icon icon-calendar"><use xlink:href="#icon-calendar"></use></svg>
                  <span class="text date news-item__date"></span>
               </div>

               <div class="comments">
                  <svg class="icon icon-message"><use xlink:href="#icon-message"></use></svg>
                  <span class="text number-comments news-item__comments"></span>
               </div>
            </div>

            <div class="card__title">
               <h2 class="news-title news-item__title"></h2>
            </div>

            <div class="card__content">
               <p class="text news-item__text">
               </p>
            </div>
         </div> 
      </a> 
   </li>
