<!-- Single News View Tamplate -->
<div id="singleNewTamplate" class="news-container">
      <div class="news-title-img item-data__img" >

      </div>

      <div class="news-body">
         <!-- Left side info block -->
         <div class="news-body__info">
            <!-- Date -->
            <div class="news-body__info-cell date">
               <h6 class="title">Date</h6>
               <span class="text item-data__date"></span>
            </div>
            <!-- Comments -->
            <div class="news-body__info-cell comments">
               <h6 class="title">Comments</h6>
               <span class="text item-data__comments"></span>
            </div>
            <!-- Soc links / Share -->
            <div class="news-body__info-cell share">
               <h6 class="title">Share</h6>
               <div class="soc-links">
                  <a href="#" class="soc-links__link facebook">
                     <svg class="icon icon-facebook">
                        <use xlink:href="#icon-facebook"></use>
                     </svg>
                  </a>
                  <a href="#" class="soc-links__link twitter">
                     <svg class="icon icon-twitter">
                        <use xlink:href="#icon-twitter"></use>
                     </svg>
                  </a>
                  <a href="#" class="soc-links__link google-plus">
                     <svg class="icon icon-google-plus">
                        <use xlink:href="#icon-google-plus"></use>
                     </svg>
                  </a>
                  <a href="#" class="soc-links__link pinterst">
                     <svg class="icon icon-pinterst">
                        <use xlink:href="#icon-pinterst"></use>
                     </svg>
                  </a>
               </div>
            </div>
         </div>
            
         <div class="news-body__content">
            <h1 class="content__title item-data__title"></h1>
            <h4 class="content__subtitle item-data__subtitle"></h4>

            <div class="content__text item-data__paragraphs"></div>
         </div>

      </div>
   </div>
